<% @countries.each do |country| %>
  <div class='image'>
    <%= link_to image_tag("countries/" + country.name + ".jpg", height: '200px'), country %>
  </div>
<% end %>

<p>
  <%= link_to 'Ajouter un pays', new_country_path %>
</p>
